body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  background-color: #000;
  height: 100vh;
}

a {
  text-decoration: none;
}

.overlay {
  position: absolute;
  z-index: 1000;
  background: #000;
  opacity: 0.7;
  height: 100vh;
  inset: 0;
}

.PlayerRSWP {
  position: absolute;
  z-index: 10000;
}

/* === Navigation === */

.nav {
  position: fixed;
  z-index: 10000;
  background: #000;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__item:hover svg {
  transition: 0.4s;
  transform: scale(1.1);
}

.nav__item[data-active='active'] svg path {
  fill: #fff;
}

/* === Navigation === */

/* === Home === */

.home {
  padding: 3vh 6vw 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.header-user svg {
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: 0.4s;
}

.header-user svg:hover {
  transform: scale(1.1);
}

.home__main {
  margin-top: 2vh;
}

.home__main > div {
  margin-bottom: 5vh;
}

.home__main-title {
  color: #fff;
  font-weight: 500;
  font-size: 19px;
}

.home__main-listTracks {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 2vh;
}

.home__main-played .home__main-listTracks {
  flex-direction: row-reverse;
}

.home__main-track {
  padding: 40px;
  background: #fff;
}

.home__main-track:not(:first-child) {
  margin-right: 15px;
}
/* === Home === */

/* === Search === */

.search {
  padding: 3vh 6vw 0;
  position: relative;
}

.search__history-more {
  position: absolute;
  right: 40px;
  min-width: 36vw;
  z-index: 10;
  background: #000;
  border: 1px solid #fff;
  border-radius: 15px;
}

.search__history-more_item {
  display: flex;
}

.search__form {
  margin: 2vh 6vw 0;
  position: relative;
}

.search__form-input {
  margin-top: 3vh;
  width: 100%;
  border: none;
  background: transparent;
  color: #fff;
}

.search__form::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: -2px;
  left: 0;
}

.search__history {
  margin-top: 3vh;

  overflow: auto;
  max-height: 60vh;
}

.search__history-track:not(:first-child) {
  margin-top: 20px;
}

.recently__history-track:not(:first-child) {
  margin-right: 20px;
}

.search__history-item {
  color: #595858;
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  opacity: 0.8;
}
/* === Search === */

/* === Library === */

.likeTracks {
  padding: 3vh 6vw 0;
}

.library {
  padding: 3vh 6vw 0;
}

.library__playlists {
  margin: 2vh 0 0;
}

.library__playlists-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.library__playlists-item:hover button {
  transition: 0.4s;
  transform: translate(10px);
}

.library__listeningHistory-list {
  height: 37.5vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.library__playlists-item p {
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

.library__playlists-item button {
  background: none;
  border: none;
  cursor: pointer;
}

.library__listeningHistory-title {
  margin: 6vh 0 3vh 0;

  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
}

.listTracks__track {
  display: flex;
  align-items: center;
}

.playListBlock {
  position: relative;
}

.playListBlock__inner {
  display: flex;
  width: 100%;
}

.playListBlock:not(:first-child) {
  margin-top: 2.5vh;
}

.playListBlock__delete {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}

.listTracks__track-item {
  display: flex;
  align-items: center;
}

.listTracks__track:not(:first-child) {
  margin-bottom: 20px;
}

.listTracks__track-img img {
  height: 100px;
}

.listTracks__track-info {
  color: #fff;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listTracks__track-player {
  margin: 8px 0;
  font-size: 12px;
}

.listTracks__track-duration {
  font-size: 12px;
  margin: 0;
}

.listTracks__track-name {
  font-size: 18px;
  margin: 0;
}

/* === Library === */

/* === Full Player === */

.fullPlayer {
  position: absolute;
  z-index: 10000;
  inset: 0;
  background: #000;
}

.fullPlayer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 31px 23px 0;
}

.fullPlayer__header-trackName {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.fullPlayer__header-prev {
  cursor: pointer;
}

.fullPlayer__main {
  margin: 6vh 2vw 0;
}

.fullPlayer__main-img {
  min-width: 300px;
  max-width: 350px;
  height: 47vh;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  border-radius: 10px;
  background: #fff;

  font-weight: 500;
}

.fullPlayer__main-logic {
  margin-top: 8vh;
}

.fullPlayer__main-trackLine {
  width: 85%;
  height: 3px;
  background: #fff;

  margin: 0 auto;
}

.fullPlayer__main-buttons {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* === Full Player === */

/* === Mini Player === */

.miniPlayer {
  position: fixed;
  bottom: 53px;
  left: 0;
  z-index: 100;

  background: #595858;
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.miniPlayer__info-nameTrack {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.miniPlayer__info-nameGroup {
  font-size: 13px;
  font-weight: 500;
  color: #969696;
}

/* === Mini Player === */

/* === PlayLists === */

.playLists {
  padding: 3vh 6vw 0;
}

.playLists__addNew {
  color: #595858;
  margin-bottom: 3vh;
}

.playLists__list {
  display: flex;
  flex-direction: column;
}

.playLists__list-item {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.playLists__list-item:not(:first-child) {
  margin-top: 30px;
}

.playLists__list-img {
  padding: 25px;
  background: #fff;
  color: #000;
}

.playLists__list-info {
  margin-left: 10px;
  color: #fff;
}

/* === PlayLists === */

/* === Player === */

.PlayerRSWP {
  position: absolute;
  left: 0;
  bottom: 53px;
  z-index: 100;
}

.rswp__active._InfoRSWP.__mvqn38 {
  border: none;
}

._DevicesRSWP.__1yu56nx button {
  display: none;
}

._ControlsRSWP.__73jrio {
  border-top: 1px solid #595858;
  border-bottom: 1px solid #595858;
}

/* === Player === */

/* === Login === */

.login {
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login__link {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.login svg {
  width: 60vw;
}

/* === Login === */

/* === PopUp MakeName === */

.popUpMakeName {
  position: absolute;
  bottom: 0;
  z-index: 1000000;

  padding-top: 1.3vh;

  height: 18vh;
  width: 100%;

  background: #000;
  border-top: 1px solid #fff;

  color: #fff;
}

.popUpMakeName__inner {
  padding: 1.3vh 6vw 0;
}

.popUpMakeName-top {
  display: flex;
  align-items: center;
}

.popUpMakeName-top__close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpMakeName-top__close::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  padding: 5px;
}

.popUpMakeName-top__title {
  margin-left: 15px;
  font-weight: 500;
  width: 100%;
}

.popUpMakeName-top__save {
  color: #fff;

  font-weight: bold;
  font-size: 14px;
}

.popUpMakeName-main__input {
  margin-top: 3vh;
  position: relative;
}

.popUpMakeName-main__input::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: #fff;
  display: block;
}

.popUpMakeName-main__input input {
  background: transparent;
  border: none;

  color: #fff;

  width: 100%;
}

.popUpMakeName-main__input input::placeholder {
  color: #fff;
}

/* === PopUp MakeName === */

/* === Inner Playlist === */

.innerPlaylist {
  inset: 0;
  position: absolute;
  background: #000;
}

.innerPlaylist__inner {
  padding: 3vh 6vw 0;
}

.innerPlaylist-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerPlaylist-top__title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.innerPlaylist-top__title::first-letter {
  text-transform: uppercase;
}

/* === Inner Playlist === */

/* === AddTrackToPlaylist === */

.addTrackToPlaylist {
  position: absolute;
  background: #000;
  height: 77vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.addTrackToPlaylist__top {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTrackToPlaylist__top-title {
  font-size: 25px;
  font-weight: 500;
}

.addTrackToPlaylist__inner {
  padding: 3vh 6vw 0;
}

/* === AddTrackToPlaylist === */
